# Introducción

**Nombre: Christian Camilo Urcuqui López**

En el presente notebook se desarrolla el reto propuesto por LATAM Airlines, el recurso se componente de las siguientes unidades:

+ [Descripcion del reto y datos](#Descripcion-del-reto-y-datos)
+ Análisis exploratorio
    - Respuesta a preguntas
+ Modelamiento
+ Resultados
+ Conclusiones
+ Trabajo futuro

# Descripcion del reto y datos

# Análisis exploratorio

## librerias

In [1]:
import pandas as pd

## Carga de información

In [4]:
df = pd.read_csv("datasets/dataset_SCL.csv")

C:\Users\Usuario\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Exploración

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB