The next material was taken from Kaggle. All credits are for the original authors.

In [ ]:
"""
SELECT COUNT(ID)
FROM table.pets
"""

AVG() SUM() MIN() MAX

In [ ]:
"""
SELECT Animal, COUNT(ID)
FROM table.pets
GROUP BY Animal
"""

*aggregate functionS*

**Having** is used in combination with **GROUP BY** to ignore groups that do not meet certain criteria.

For example the next query will only include groups that have more than one ID in them.

In [ ]:
"""
SELECT Animal, COUNT(ID)
FROM table.pets
GROUP BY Animal
HAVING COUNT(ID) > 1
"""

In [1]:
!pip install google-cloud-datastore

Collecting google-cloud-datastore
  Downloading google_cloud_datastore-2.1.6-py2.py3-none-any.whl (127 kB)
Collecting proto-plus>=1.4.0
  Downloading proto_plus-1.19.0-py3-none-any.whl (42 kB)
Collecting google-cloud-core<3.0.0dev,>=1.4.0
  Downloading google_cloud_core-2.0.0-py2.py3-none-any.whl (27 kB)
Collecting google-api-core[grpc]<3.0.0dev,>=1.22.2
  Downloading google_api_core-2.0.1-py2.py3-none-any.whl (92 kB)
Collecting libcst>=0.2.5
  Downloading libcst-0.3.21-py3-none-any.whl (514 kB)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (2.25.1)
Collecting googleapis-common-protos<2.0dev,>=1.6.0
  Using cached googleapis_common_protos-1.53.0-py2.py3-none-any.whl (198 kB)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (52.0.0.post20210125)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (1.27.0)
Requirement already satisfied: protobuf>=3.12.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (3.14.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (1.36.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (4.2.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (4.7.2)
Requirement already satisfied: six>=1.9.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (1.15.0)
Requirement already satisfied: pyyaml>=5.2 in c:\users\usuario\anaconda3\lib\site-packages (from libcst>=0.2.5->google-cloud-datastore) (5.4.1)
Collecting typing-inspect>=0.4.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: typing-extensions>=3.7.4.2 in c:\users\usuario\anaconda3\lib\site-packages (from libcst>=0.2.5->google-cloud-datastore) (3.7.4.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\usuario\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<3.0.0dev,>=1.22.2->google-cloud-datastore) (2021.5.30)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, googleapis-common-protos, typing-inspect, google-api-core, proto-plus, libcst, google-cloud-core, google-cloud-datastore
Successfully installed google-api-core-2.0.1 google-cloud-core-2.0.0 google-cloud-datastore-2.1.6 googleapis-common-protos-1.53.0 libcst-0.3.21 mypy-extensions-0.4.3 proto-plus-1.19.0 typing-inspect-0.7.1

In [3]:
!pip install --upgrade google-cloud-bigquery

Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-2.26.0-py2.py3-none-any.whl (201 kB)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.29.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.0.1)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.25.1)
Requirement already satisfied: proto-plus>=1.10.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.19.0)
Requirement already satisfied: packaging>=14.3 in c:\users\usuario\anaconda3\lib\site-packages (from google-cloud-bigquery) (20.9)
Collecting google-resumable-media<3.0dev,>=0.6.0
  Downloading google_resumable_media-2.0.3-py2.py3-none-any.whl (75 kB)
Collecting grpcio<2.0dev,>=1.38.1
  Downloading grpcio-1.40.0-cp37-cp37m-win_amd64.whl (3.2 MB)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in c:\users\usuario\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.0.0)
Requirement already satisfied: protobuf>=3.12.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-cloud-bigquery) (3.14.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.27.0)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (52.0.0.post20210125)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (4.2.1)
Requirement already satisfied: six>=1.9.0 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\usuario\anaconda3\lib\site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (0.2.8)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.2.0-cp37-cp37m-win_amd64.whl (27 kB)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\usuario\anaconda3\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\usuario\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Installing collected packages: grpcio, google-crc32c, google-resumable-media, google-cloud-bigquery
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.36.0
    Uninstalling grpcio-1.36.0:
      Successfully uninstalled grpcio-1.36.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.1.0 requires scipy==1.4.1; python_version >= "3", but you have scipy 1.6.1 which is incompatible.
tensorflow 2.1.0 requires tensorboard<2.2.0,>=2.1.0, but you have tensorboard 2.3.0 which is incompatible.
econml 0.7.0 requires scikit-learn~=0.21.0, but you have scikit-learn 0.24.1 which is incompatible.
econml 0.7.0 requires tensorflow==1.*, but you have tensorflow 2.1.0 which is incompatible.

Successfully installed google-cloud-bigquery-2.26.0 google-crc32c-1.2.0 google-resumable-media-2.0.3 grpcio-1.40.0

If you are ever ensure what to put inside COUNT() function, you can do COUNT(1) to count the rows in each group. Less data quota using a cloud provider.

In [ ]:
"""
SELECT parent, COUNT(1) AS NumPosts
FROM comments
GROUP BY parent
HAVING COUNT(1) > 10
"""

IF YOU HAVE ANY **GROUP BY** CLAUSE, then all variables must be passed to either a without an aggregate function.

# Exercises

### 1) Prolific commenters

Hacker News would like to send awards to everyone who has written more than 10,000 posts. Write a query that returns all authors with more than 10,000 posts as well as their post counts. Call the column with post counts `NumPosts`.

In case sample query is helpful, here is a query you saw in the tutorial to answer a similar question:
```
query = """
        SELECT parent, COUNT(1) AS NumPosts
        FROM `bigquery-public-data.hacker_news.comments`
        GROUP BY parent
        HAVING COUNT(1) > 10
        """
```

In [ ]:
"""
SELECT author, COUNT(1) AS NumPosts
FROM `bigquery-public-data.hacker_news.comments`
GROUP BY author
HAVING COUNT(1) > 10000

"""

### 2) Deleted comments

How many comments have been deleted? (If a comment was deleted, the `deleted` column in the comments table will have the value `True`.)

In [ ]:
"""
SELECT COUNT(1) 
FROM `bigquery-public-data.hacker_news.comments`
WHERE deleted = True
"""

**ORDER BY** is usually the LAST clause in your query

In [ ]:
"""
SELECT ID, Name, Animal
FROM pets
ORDER BY ID
"""

In [ ]:
# it also works in columns with categorical values, it is going to sort it using an alpabethic approach
"""
SELECT ID, Name, Animal
FROM pets
ORDER BY Animal
"""

We can also use **DESC** to change the order if our sorting process.

In [ ]:
"""
SELECT ID, Name, Animal
FROM pets
ORDER BY Animal DESC
"""

**DATES**

We have two ways that dates can be stored in a database, **DATE** and **DATETIME**

he DATE format has the year first, then the month, and then the day. It looks like this:

YYYY-[M]M-[D]D

*EXTRACT* is the way to get a part of a date, like the year or the day. 

Meaning	| extract field

Year	| YEAR

Month	|MONTH

Day of month	|DAY

24 hour	|HOUR

Minute	|MINUTE

Seconds (including fractions)	|SECOND

Time zone hour	|TIMEZONE_HOUR

Time zone minute	|TIMEZONE_MINUTE


<img src="https://i.imgur.com/vhvHIh0.png" />

In [ ]:
"""
SELECT Name, EXTRACT(DAY from Date) as Day
FROM pets_with_date
"""

In [ ]:
"""
SELECT Name, EXTRACT(WEEK from Date) as WEEK}
FROM pets_with_date
"""

Example: *Which day of the week has the most fatal motor accidents?*

In [ ]:
"""
SELECT EXTRACT(DAY FROM timestamp_of_crash) as day, COUNT(consecutive_number) as number_accidents
FROM accidents
GROUP BY day
ORDER BY number_accidents DESC
"""

Exercises

The value in the `indicator_code` column describes what type of data is shown in a given row.  

One interesting indicator code is `SE.XPD.TOTL.GD.ZS`, which corresponds to "Government expenditure on education as % of GDP (%)".

### 1) Government expenditure on education

Which countries spend the largest fraction of GDP on education?  

To answer this question, consider only the rows in the dataset corresponding to indicator code `SE.XPD.TOTL.GD.ZS`, and write a query that returns the average value in the `value` column for each country in the dataset between the years 2010-2017 (including 2010 and 2017 in the average). 

Requirements:
- Your results should have the country name rather than the country code. You will have one row for each country.
- The aggregate function for average is **AVG()**.  Use the name `avg_ed_spending_pct` for the column created by this aggregation.
- Order the results so the countries that spend the largest fraction of GDP on education show up first.

In case it's useful to see a sample query, here's a query you saw in the tutorial (using a different dataset):
```
# Query to find out the number of accidents for each day of the week
query = """
        SELECT COUNT(consecutive_number) AS num_accidents, 
               EXTRACT(DAYOFWEEK FROM timestamp_of_crash) AS day_of_week
        FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2015`
        GROUP BY day_of_week
        ORDER BY num_accidents DESC
        """
```

In [ ]:
"""
SELECT contry_name, AVG(value) AS avg_ed_spending_pct, year
FROM international_education
WHERE indicator_name = "SE.XPD.TOTL.GD.ZS" AND year >= 2010 AND year <= 2017
GROUP BY coutry_code
ORDER BY avg_ed_spending_pct DESC
"""

### 2) Identify interesting codes to explore

The last question started by telling you to focus on rows with the code `SE.XPD.TOTL.GD.ZS`. But how would you find more interesting indicator codes to explore?

There are 1000s of codes in the dataset, so it would be time consuming to review them all. But many codes are available for only a few countries. When browsing the options for different codes, you might restrict yourself to codes that are reported by many countries.

Write a query below that selects the indicator code and indicator name for all codes with at least 175 rows in the year 2016.

Requirements:
- You should have one row for each indicator code.
- The columns in your results should be called `indicator_code`, `indicator_name`, and `num_rows`.
- Only select codes with 175 or more rows in the raw database (exactly 175 rows would be included).
- To get both the `indicator_code` and `indicator_name` in your resulting DataFrame, you need to include both in your **SELECT** statement (in addition to a **COUNT()** aggregation). This requires you to include both in your **GROUP BY** clause.
- Order from results most frequent to least frequent.

In [ ]:
"""
SELECT indicator_code, indicator_name, COUNT(1) AS num_rows
FROM international_education
WHERE year = 2016
GROUP BY indicator_code, indicator_name
HAVING COUNT(1) >= 175
ORDER BY indicator_code DESC

"""

**WITH** in what's called a "common table expresssion" is a temporary table that you return within your query. CTEs are helpful for spliting your queries into readable chunks, and you can write queries against them.

For example,

you might want to use the pets table to ask questions about older animals in particular. So you can start by creating a CTE which only contains information about animals more than five years old like this:

In [ ]:
"""
WITH Seniors AS
(
    SELECT ID, Name
    FROM pets
    WHERE Years_old > 5

)
SELECT ID
FROM Seniors
"""

We're going to use a CTE to find out how many Bitcoin transactions were made each day for the entire timespan of a bitcoin transaction dataset.

In [ ]:
"""
WITH time AS
(
    SELECT DATE(block_timestamp) AS trans_date
    FROM transactions
)
SELECT trans_date, COUNT(1) as transactions
FROM time
GROUP BY trans_date
ORDER BY trans_date
"""

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).

In [ ]:
"""
WITH time AS
(
    SELECT EXTRACT(YEAR from trip_start_timestamp) as year
    FROM chicago_taxi_trips
)
SELECT year, COUNT(1) AS num_trips
FROM time
GROUP BY year
ORDER BY year

"""

### 4) Dive slightly deeper

You'd like to take a closer look at rides from 2017.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2017.
2. Modify the query to extract the month rather than the year.

In [ ]:
"""
WITH time AS
(
    SELECT EXTRACT(MONTH from trip_start_timestamp) AS month
    FROM chicago_taxi_trips
)
SELECT month, COUNT(1)
FROM time
WHERE month = 2017
GROUP BY month
ORDER BY month
"""


It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

Restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` between **2017-01-01** and **2017-07-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

In [ ]:
"""
WITH time as 
(
    SELECT EXTRACT(HOUR from trip_start_timestamp) AS hour_of_day, trip_miles, trip_seconds
    FROM taxi_trips
    WHERE trip_start_timestamp > '2017-01-01' AND
    trip_start_timestamp <  '2017-07-01' AND 
    tip_seconds > 0 AND
    trip_miles > 0
)
SELECT hour_of_day, COUNT(1) AS num_trips, 3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
FROM time
GROUP BY hour_of_day 
ORDER BY hour_of_day 

"""

**JOIN** we can create a table with just two columns the name of the pet and the name of the owner.

In [ ]:
# inner join
"""
SELECT p.Name AS Pet_Name, O.Name AS Owner_Name
FROM pets AS p
INNER JOIN owners AS o
ON p.ID = o.PET_ID
"""

In [ ]:
# Query to determine the number of files per license, sorted by number of files
"""
SELECT l.license, COUNT(1) as number_of_files
FROM sample_files AS s 
INNER JOIN licenses AS l 
    ON s.repo_name = l.repo_name
GROUP BY l.license
ORDER BY number_of_files DESC

"""

**WHERE** and the use of **LIKE** in text features

In [ ]:
"""
SELECT *
FROM pets
WHERE Name LIKE "Ripley"
"""

We can also use % as a "wildcard" for any number of characters.

In [ ]:
"""
SELECT *
FROM pets
WHERE Name LIKE "%ipl%"
"""

In [ ]:
"""
WITH questions AS
(
    SELECT id
    FROM posts_questions
    WHERE tags LIKE '%bigquery%'
)
SELECT a.id, a.body, a.owner_user_id
FROM post_answers AS a
INNER JOIN questions AS q
ON a.parent_id = q.id
WHERE tags LIKE '%bigquery%'

"""

**JOINS**

<img src="https://i.imgur.com/1Dvmg8S.png" />

<img src="https://i.imgur.com/oa6VDig.png" />

The query below pulls information from the stories and comments tables to create a table showing all stories posted on January 1, 2012, along with the corresponding number of comments. We use a LEFT JOIN so that the results include stories that didn't receive any comments.

In [ ]:
# Query to select all stories posted on January 1, 2012, with number of comments
"""
WITH c AS
(
    SELECT parent, COUNT(*) AS num_comments
    FROM comments
    GROUP BY parent
)
SELECT
FROM stores AS s
LEFT JOIN c
ON s.id = c.parent
WHERE EXTRACT(DATE from s.time_ts) = '2012-01-01'
ORDER BY c.num_comments DESC
"""

Next, we write a query to select all usernames corresponding to users who wrote stories or comments on January 1, 2014. We use UNION DISTINCT (instead of UNION ALL) to ensure that each user appears in the table at most once.

In [ ]:
"""
SELECT c.by
FROM comments AS c
WHERE EXTRACT(DATE from c.time_ts) = '2014-01-01'
UNION DISTINCT
SELECT s.by
FROM stores AS s
WHERE EXTRACT(DATE from s.time_ts) = '2014-01-01'
"""

SELECT DISTINCT column1, column2, ...

FROM table_name;

In [ ]:
"""
 SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  INNER JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
"""

In [ ]:
"""
                  SELECT q.owner_user_id 
                  FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  WHERE EXTRACT(DATE FROM q.creation_date) = '2019-01-01'
                  UNION DISTINCT
                  SELECT a.owner_user_id
                  FROM `bigquery-public-data.stackoverflow.posts_answers` AS a
                  WHERE EXTRACT(DATE FROM a.creation_date) = '2019-01-01'

"""

**Analytics functions** have an **OVER** clause, which defines the sets of rows used in each calculation. The **OVER** clause has three (optional) parts:

+ The **PARTITION BY** clause divides the rows of the table into different groups. In the query above, we divide by id so that the calculations are separated by runner.
+ The **ORDER BY** clause defines an ordering within each partition. In the sample query, ordering by the date column ensures that earlier training sessions appear first.
+ The final clause (**ROWS BETWEEN 1 PRECEDING AND CURRENT ROW**) is known as a **window** frame clause. It identifies the set of rows used in each calculation. We can refer to this group of rows as a window. (Actually, analytic functions are sometimes referred to as analytic window functions or simply window functions!)

<img src="https://i.imgur.com/GjiKlA7.png" />

*Window frame clauses*

+ ROWS BETWEEN 1 PRECEDING AND CURRENT ROW - the previous row and the current row.
+ ROWS BETWEEN 3 PRECEDING AND 1 FOLLOWING - the 3 previous rows, the current row, and the following row.
+ ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING - all rows in the partition.

## Three types of analytic functions

1. Analytic aggregate functions
As you might recall, AVG() (from the example above) is an aggregate function. The OVER clause is what ensures that it's treated as an analytic (aggregate) function. Aggregate functions take all of the values within the window as input and return a single value.

    + MIN() (or MAX()) - Returns the minimum (or maximum) of input values
    + AVG() (or SUM()) - Returns the average (or sum) of input values
    + COUNT() - Returns the number of rows in the input

2.  Analytic navigation functions
Navigation functions assign a value based on the value in a (usually) different row than the current row.

    + FIRST_VALUE() (or LAST_VALUE()) - Returns the first (or last) value in the input
    + LEAD() (and LAG()) - Returns the value on a subsequent (or preceding) row

3. Analytic numbering functions
Numbering functions assign integer values to each row based on the ordering.

    + ROW_NUMBER() - Returns the order in which rows appear in the input (starting with 1)
    + RANK() - All rows with the same value in the ordering column receive the same rank value, where the next row receives a rank value which increments by the number of rows with the previous rank value.

In [ ]:
#Each row of the table corresponds to a different bike trip, and we can use an analytic function to 
# calculate the cumulative number of trips for each date in 2015.

"""
WITH trips_by_day AS 
(
    SELECT DATE(start_date) AS trip_date,
    COUNT(*) AS num_trips
    FROM `bigquery-public-data.san_francisco.bikeshare_trips`
    WHERE EXTRACT(YEAR from trip_date) = 2015
    GROUP BY trip_date
)
SELECT *,
    SUM(num_trips)
        OVER(
        ORDER BY trip_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW        
        ) AS cumulative_trips
    FROM trips_by_day
"""

The next query tracks the stations where each bike began (in start_station_id) and ended (in end_station_id) the day on October 25, 2015.

In [ ]:
"""
SELECT bike_number
    TIME(start_date) AS trip_date,
    FIRST_VALUE(start_station_id)
    OVER (
        PARTITION BY bike_number
        ORDER BY start_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) AS first_station_id
    LAST_VALUE(end_statikon_id)
    OVER (
        PARTITION BY bike_number
        ORDER BY start_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) AS last_station_id
    start_station_id,
    end_station_id
    FROM bigquery-public-data.san_francisco.bikeshare_trips`
    WHERE DATE(start_date) = '2015-10-25'
"""

***

statistical queries

In [ ]:
"""
select 
	department_id, sum(salary), 
	round(avg(salary),2), 
	round(var_pop(salary),2), 
	round(stddev_pop(salary),2)
from
	data_sci.employees
group by department_id 
"""

In [ ]:
"""
select 
	upper(department_name)
from data_sci.company_departments
"""

In [ ]:
# the initial upper case
"""
select 	initcap(department_name)from data_sci.company_departments
"""

In [ ]:
# remove spaces

"""
select 
	ltrim(' Kelly') = 'Kelly'
"""

In [ ]:
# concatenate two strings ||
"""
select 
	job_title || '-' || last_name
from 
	data_sci.employees
"""

# PAY ATTENTION TO THE NULL VALUES USING ||

"""
select 
	CONCAT(job_title, '-', last_name)
from 
	data_sci.employees
"""

In [ ]:
# Extract substrings from strings
"""
select 
	substring('abcdefghi', 1, 3) test_string
	
"""
"""
select 
	substring('abcdefghi' from 1 for 3) test_string
	
"""

"""
select
	job_title, (job_title like '%assistant%') is_assistant
from
	data_sci.employees
"""

In [ ]:
# filter with regular expressions
"""
select distinct
	job_title
from 
	data_sci.employees
where
	job_title  like 'vp%'
or
	job_title  like 'web%'
"""

"""
select distinct
	job_title
from 
	data_sci.employees
where
	job_title similar to '(vp%|web%)'
"""