Notes from the time sires course from Kaggle

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(
    "book_sales.csv",
    index_col='Date',
    parse_dates=['Date'], 
).drop('Paperback', axis=1)

df.head()

            Hardcover
Date
2000-04-01        139
2000-04-02        128
2000-04-03        172
2000-04-04        139
2000-04-05        191

In [4]:
df.index

DatetimeIndex(['2000-04-01', '2000-04-02', '2000-04-03', '2000-04-04',
               '2000-04-05', '2000-04-06', '2000-04-07', '2000-04-08',
               '2000-04-09', '2000-04-10', '2000-04-11', '2000-04-12',
               '2000-04-13', '2000-04-14', '2000-04-15', '2000-04-16',
               '2000-04-17', '2000-04-18', '2000-04-19', '2000-04-20',
               '2000-04-21', '2000-04-22', '2000-04-23', '2000-04-24',
               '2000-04-25', '2000-04-26', '2000-04-27', '2000-04-28',
               '2000-04-29', '2000-04-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

This series records the number of hardcover book sales at a retail store over 30 days. Notice that we have a single column of observations Hardcover with a time index Date.

### Linear regression

The linear regression algorithm learns how to make a weighted sum from its input features. For two features, we would have:

```
target = weight_1 * feature_1 + weight_2 * feature_2 + bias
```

During training, the regression algorithm learns values for the parameters `weight_1`, `weight_2`, and `bias` that best fit the target. (This algorithm is often called ordinary least squares since it chooses values that **minimize the squared error** between the target and the predictions.) **The weights** are also called *regression coefficients* and the **bias** is also called the *intercept* because it tells you where the graph of this function crosses the y-axis.

There are two kinds of features unique to time series: time-step features and lag features. Time-step features are features we can derive directly from the time index. 
+ The most basic time-step feature is the time dummy, which counts off time steps in the series from beginning to end.

In [5]:
import numpy as np

df['Time'] = np.arange(len(df.index))

df.head()

            Hardcover  Time
Date
2000-04-01        139     0
2000-04-02        128     1
2000-04-03        172     2
2000-04-04        139     3
2000-04-05        191     4

Linear regression with the time dummy produces the model: